* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: url('public/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Madimi One", sans-serif;
}

#root {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
}

.logo {
    font-size: 35px;
    line-height: 80px;
    padding: 0 20px;
    font-weight: bold;
    color: #f7f7f9;
}

nav {
    height: 80px;
    width: 100%;
    margin-top: 10px;
    border-radius: 20px;
    background: #918ae3;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 79px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 30px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.container {
    margin-top: 15px;
    border-radius: 10px;
    max-width: 1300px;
    padding: 20px;
    height: 250px;
    background-image: linear-gradient(to bottom, #918ae3, #564ec2);
}

.container, nav {
    box-shadow: 5px 10px 5px rgb(0, 0, 0, 0.3);
}

.container p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f7f7f9;
}

.container form input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    margin-right: 5px;
    font-size: 15px;
}

.container form button {
    border-radius: 10px;
    font-size: 15px;
    border: 0;
    width: 15%;
    height: 40px;
    background-color: #918ae3;
    color: #fff;
}

.container input, button {
    box-shadow: 4px 7px 5px rgb(0, 0, 0, 0.1);
    font-family: "Madimi One", sans-serif;
}
