* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Madimi One", sans-serif;
}

#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}

.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 20px;
  font-weight: bold;
  color: #564ec2;
}

nav {
  height: 80px;
  width: 100%;
  margin-top: 10px;
  border-radius: 20px;
  background: #f7f7f9;
  border: 0.3px solid #b3b6ba;
}

nav ul {
  float: right;
  margin-right: 20px;
  text-align: center;
  padding: 15px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  border-radius: 10px;
  margin: 5px;
  outline: none;
}

nav a {
  border-radius: inherit;
  transition: 0.5s linear;
}

nav a:hover {
  color: white;
  background: #564ec2;
}

nav ul li a {
  color: #564ec2;
  font-size: 30px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.container {
  margin-top: 15px;
  border-radius: 10px;
  border: 0.3px solid #b3b6ba;
  max-width: 1300px;
  padding: 20px;
  height: 250px;
  background-color: #f7f7f9;
}

.container,
.about,
.contact-form,
nav {
  box-shadow: 5px 10px 5px rgb(0, 0, 0, 0.3);
}

.container h2 {
  margin-bottom: 10px;
  color: #564ec2;
}

.container form input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: 0.1px solid #b3b6ba;
  margin-right: 5px;
  font-size: 15px;
}

.container form button {
  border-radius: 10px;
  font-size: 15px;
  border: 0;
  width: 15%;
  height: 40px;
  background-color: #918ae3;
  color: #fff;
  cursor: pointer;
  transition: 0.5s linear;
}

form button:hover {
  background-color: #564ec2;
}

.container input,
button {
  box-shadow: 4px 7px 5px rgb(0, 0, 0, 0.1);
  font-family: "Madimi One", sans-serif;
}

.card-container {
  height: 270px;
  padding: 5px;
  width: 50%;
  margin-top: 10px;
  border: 0.1px solid #b3b6ba;
  border-radius: 15px;
  box-shadow: 4px 7px 5px rgb(0, 0, 0, 0.1);
  overflow-y: scroll;
  background: #fff;
}

.url-container {
  padding: 15px;
  background: #fff;
  border: 0.1px solid #b3b6ba;
  border-radius: 10px;
  margin: 1px;
  color: #564ec2;
  display: flex;
  position: relative;
}

.url-container .url-texts {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.url-container .url-actions {
  display: flex;
  position: absolute;
  right: 10px;
  width: 10%;
}

svg {
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.about {
  height: 500px;
  background: #fff;
  border: 0.1px solid #b3b6ba;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about,
.contact-div h1 {
  font-size: 50px;
  margin-bottom: 20px;
  top: 10px;
}

.about .features-list {
  list-style: disc;
  text-align: left;
  width: 50%;
  left: 34%;
  position: relative;
}

.about .features-list li {
  list-style-type: disc;
}

.contact-div {
  height: 500px;
  background: #fff;
  border: 0.1px solid #b3b6ba;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #564ec2;
}

#contact-form > button:nth-child(4) {
  margin-top: 5px;
  border-radius: 4px;
  font-size: 15px;
  border: 0;
  height: 40px;
  background-color: #918ae3;
  color: #fff;
  cursor: pointer;
  transition: 0.5s linear;
  width: 100px;
}

#contact-form > button:nth-child(4):hover {
  background-color: #564ec2;
}

.contact-div input {
  width: 40%;
  height: 40px;
  border-radius: 10px;
  border: 0.1px solid #b3b6ba;
  margin-right: 5px;
  font-size: 15px;
  margin-bottom: 2px;
}

.contact-div input,
button {
  box-shadow: 4px 7px 5px rgb(0, 0, 0, 0.1);
  font-family: "Madimi One", sans-serif;
}

.contact-div textarea {
  border-radius: 10px;
  border: 0.1px solid #b3b6ba;
  text-align: center;
  width: 43%;
  height: 200px;
}

.documentation {
  height: 500px;
  background: #fff;
  border: 0.1px solid #b3b6ba;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  justify-content: center;
}

.documentation h2,
.docs-title {
  text-align: center;
}

.documentation .docs-title {
  margin-bottom: 10px;
  top: 10px;
}

.documentation .docs-title h1 {
  font-size: 50px;
}

@media (max-width: 952px) {
  #root {
    width: 95%;
    align-items: center;
  }

  .logo {
    font-size: 29px;
  }

  nav ul li a {
    display: none;
  }

  .container form input {
    width: 78%;
  }

  .container form button {
    font-size: 13px;
    width: auto;
    padding: 1px;
  }

  .card-container {
    width: 100%;
  }

  .url-container .url-texts {
    font-size: 15px;
  }

  .url-container .url-actions {
    margin-right: 20px;
    margin-top: 5px;
  }
}
